<h1 class = "container"><%= @user.name %>の編集</h1>
<div class = "container">
  <%= link_to "管理画面", admin_users_path, class: 'btn btn-info' %>
  <br>
  <%= render partial: 'form', locals: { user: @user } %>
</div>

