<h1><%= @user.name %>登録</h1>
<div class = "nav.justify-content-end">
  <%= link_to "管理画面", admin_users_path, class: 'nav-link' %>
  <br>
  <%= render partial: 'form', locals: { user: @user } %>
</div>

